* {
    box-sizing: border-box;
}

header {
    margin: 0;
    background: #2d3945;
    color: white;
}

body {
    font-family: 'Tinos', serif;
    color: #495d70;
    width: 100%;
}

footer {
    padding-bottom: 200px
}

.container {
    width: 100%;
    background: lightsteelblue;
    margin: auto;
    padding-bottom: 15px;
}

.footer_wrapper {
    background: #2d3945;
}



main,
footer {
    width: 90%;
    margin: auto;
}

h1 {
    margin: 0;
    padding: 24px 0;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    padding: 15px;
}

legend {
    border-top: 2px solid black;
    width: 100%;
    padding-top: 25px;
    margin-bottom: 10px;
}

h1,
h2,
legend {
    font-weight: 700;
    font-size: 1.2em;
}

h2,
legend {
    color:#2d3945;
}

p {
    font-weight: 400;
    line-height: 1.2em;
    color: slategray;
    margin: 0;
    padding: 10px;
}

footer p {
    color:lightgray;
}

::placeholder {
    font-size: .9em;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    color: #adb2b7;
}

input[id="phone"]::placeholder,
input[id="address"]::placeholder,
input[id="city"]::placeholder,
input[id="zip_code"]::placeholder,
textarea::placeholder {
    text-align: left;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

option {
    color: black;
}

select:required:invalid {
    color: #adb2b7;
}

hr {
    margin: 30px auto 2px;
    border-bottom: 3px solid black;
}

#hidden_hr {
    border: none;
}

h1,
h2,
p {
    text-align: center;
}


label {
    display: block;
    margin: 15px 0 8px;
    font-size: 1em;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
    display: block;
    background: #eff0f1;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: none;
    padding: 15px;
    height: auto;
}



#zip_code {
    width: 50%;
}

textarea {
    height: 100px;
}

label[for*="news"],
label[for*="format"] {
    margin: 5px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 0 5px 0 3px;
    width: 11px;
    height: 11px;
}

input:focus[type="text"],
input:focus[type="tel"],
input:focus[type="email"],
select:focus,
textarea:focus,
button:focus {
    border: 3px solid #46698b;
    background-color: turquoise;
    transition: background-color 1000ms linear;
}

input:focus[type="text"],
input:focus[type="tel"],
input:focus[type="email"],
select:focus {
    margin: -3px;
}

.selection_header {
    margin-top: 20px;
}


button {
    display: block;
    background: #4ebbb5;
    color: white;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    border: none;
    border-radius: 4px;
    margin: 20px auto;
    padding: 15px 0;
}

#copyright {
    font-size: .95em;
    font-style: italic;
}

/* Media Queries */

@media (min-width: 768px) {
    main,
    footer {
        max-width: 500px;
    }

    main p {
        margin-top: 5px;
    }

    h2 {
        font-size: 1.5em;
        padding-top: 30px;
        margin-bottom: 0;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select {
    width: 70%;
    }

    .contact_information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
    }

    .zip {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }

    .zip-code {
        width: 10px;
    }

    .zip label {
        margin-right: 90px;
    }

    #zip_code {
        max-width: 17.5%;
    }

}