* {
    box-sizing: border-box;
}

body {
    font-family: 'Tinos', serif;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 384px;
    margin: auto;
}

header,
main,
footer {
    width: 95%;
    margin: auto;
}

h1,
h2,
p {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

fieldset {
    border: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
    display: block;
    background: lightgrey;
    width: 100%;
    border: none;
    font-size: 16px;
    margin: 0;
    outline: none;
    padding: 10px;
    height: auto;

}

input[type="checkbox"] + label {
    display: inline-block;
}

input[type="radio"] + label {
    display: inline;
}